@import "../../assets/styles/styles.scss";

.landingPage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101vw;
  height: 102vh;
  // adjust css if nesscary
  background-color: $secondary;
  color: $tertiary;
  flex-direction: column;
  &__header{
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 9vh;
  }
}