@import "../../assets/styles/styles.scss";

.navbar{
  color: $tertiary;
  background-color: $primary;
  width: 101%;
  height: 5vh;
  display: flex;
  border-bottom: 2px solid $accent;
  &__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    gap: 10px ;
    font-size: 18px;
  }
}