@import "../../assets/styles/styles.scss";

.navbar{
  color: $tertiary;
  background-color: $primary;
  width: 101%;
  height: 7vh;
  display: flex;
  border-bottom: 2px solid $accent;
  &__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    gap: 10px ;
    font-size: 18px;
  }
  &__home{
    text-decoration: none;
  }
  &__home:visited{
    text-decoration: none;
    color: $tertiary;
  }
}

.usericon{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__letter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;  
    font-size: 20px;
  }
}