@import "../../assets/styles/styles.scss";

* {
    margin: 0;
    box-sizing: border-box;
}

.splitBar {
    margin: 20px 20px;
    &__main {
        display: flex;
        border: 1.5px solid $accent;
        background-color: $secondary;
        width: 67vw;
        margin-bottom: -1px;
    }

    &__heading {
        &-holder {
            width: 100%;
        }

        &-title {
            color: $tertiary;
            text-align: center;
            width: 100%;
            width: 62vw;
        }

        &-icon {
            display: flex;
            justify-content: right;
            width: 100%;
            width: 4vw;

        }
    }

    &__subs {
        border: 1px solid $accent;
        background-color: $primary;
        width: 67vw;
        border-bottom: 0.5px solid #00ADB5;
        border-left: 0.5px solid #00ADB5;
        border-right: 0.5px solid #00ADB5;

            &-exercise {
                border: 1px solid $accent;
                display: flex;
                text-align: center;
                margin-top: -1px;

                &-holder {
                    width: 100%;
                }

                &-name {
                    color: $tertiary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 62vw;
                }

                &-icon {
                    display: flex;
                    justify-content: flex-end;
                    width: 4vw;
                }
            }
    }
}
