@import "../../assets/styles/styles.scss";

.register{
  display: flex;
  height: 89vh;
  width: 100vw;
  flex-direction: column;
  background-color: $secondary;
  &__login{
    text-decoration: none;
    font-size: 18px;
    padding-top: 50px;
    cursor: pointer;
    &-span{
      text-decoration: underline;
    }
    &-span:hover{
      color: $accent;
    }
  }
  &__login:visited{
    text-decoration: none;
    color: $tertiary;
  }
  &__container{
    color: $tertiary;
    &-btn{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      color: $tertiary;
      border-radius: 10px;
      height: 6vh;
      width: 35vw;
      background-color: $primary;
      border: 1px solid $accent;
      font-size: 22px;
    }
    &-btn:hover{
      color: $primary;
      background-color: $accent;
      border: 2px solid $tertiary;
    }
    &-header{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: 350;
      font-size: 30px;
      padding-left: 26px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    &-form{
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 65vh;
      width: 100vw;
      &-inputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #00adb5;
        background-color: #222831;
        border-radius: 5px;
        width: 320px;
        height: 40px;

        &-input {
            border: none;
            color: #eeeeee;
            border-radius: 5px;
            background-color: #222831;
            width: 320px;
            height: 35px;
            font-size: 18px;
            padding: 0px 6px 0px 7px;
        }
      }
      &-input:focus{
        border: 1px solid $primary;
      }
      &-labels{
        display: flex;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        width: 85vw;
        font-size: 20px;
      }
    }
  }
}

.login {
    &__inputContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #00adb5;
        background-color: #222831;
        border-radius: 5px;
        width: 320px;
        height: 40px;

        &-input {
            border: none;
            color: #eeeeee;
            border-radius: 5px;
            background-color: #222831;
            width: 320px;
            height: 35px;
            font-size: 18px;
            padding: 0px 6px 0px 7px;
        }
    }
}